<!DOCTYPE HTML>
<html>
<head><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100165936-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100165936-3');
</script>
</head>
<style>

body{margin:0px;}

.button {
	background-color: gray;
	border: 1px;
	margin: 10px;
	color: white;
	padding: 15px;
	text-align: center;
	left: 50%;

	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 8px;
}

.payment-wrapper{
	margin:auto;
	margin-top: 100px;
	width: 60%;
	padding: 40px;
	border-radius: 30px;
	border: solid black 2px;
	background-color: lightgray;
	text-align: center;
}
td{
	padding-top: 5px;
}
table{
	text-align: left
}
</style>

<script src = "/jquery-3.2.1.min.js"></script>

</body>

<div class="payment-wrapper">

	<h2 style="text-align: center"> Register for Premium Account </h2>
	<h3 style="text-align: center"> Price: $5.00 </h3>
	<h3 style="text-align: center"> Includes: Curved Edges, Larger Puzzles, Business Advertising Package</h3>


	<table style="margin:auto">
		<tr>
			<td>First name:</td>
			<td><input type="text" id="firstname" name="firstname" value="Mike"></td>
		</tr>
		<tr>
			<td>Last name:</td>
			<td><input type="text" id="lastname" name="lastname" value="Friends"></td>
		</tr>
		<tr>
			<td>Card Number:</td>
			<td><input type="text" id="cardnum" value="4111111111111111"></td>
		</tr>
		<tr>
			<td>CVV:</td>
			<td><input type="text" id="cvv" value="123"></td>
		</tr>
		<tr>
			<td>Exp. Date:</td>
			<td><input type="text" value="1" id="expdatemm" placeholder="mm" style="width: 30px"> / <input type="text" id="expdateyyyy" value="2020" placeholder="yyyy" style="width: 30px"></td>
		</tr>
	</table>
	
	<input type="submit" id= "submit" class="button" value="Submit" placeholder = "yyyy">
</div>

<script>

$("#submit").on("click", function(){

	var firstname = $("#firstname").val();
	var lastname = $("#lastname").val();
	var cardnum = $("#cardnum").val();
	var cvv = $("#cvv").val()
	var expdate= $("#expdatemm").val() +"/"+ $("#expdateyyyy").val();
	var data = {
		firstname: firstname,
		lastname: lastname,
		cardnum: cardnum,
		cvv: cvv,
		expdate: expdate,

	}
      $.ajax({
        type:"POST",
        url:"/register", 
        data:data ,
        success: function(data){
        	console.log(data);
          if(data.result == "BAD_REQUEST"){
          	alert(data.message)
          }
          if(data.result == "APPROVED"){
          	window.location = "/"
          }
      
        },
        error: function(){
          console.log("failed")
        }
      })


})
 
   


</script>

</body>
</html>